body {
    background-color: #F3ECE5 ;
    font-family:testfont;
}
@font-face {
    font-family: testfont;
    src: url("AmericanCaptain-MdEY.otf") format("opentype");
}
#randomButton {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%; /* Makes the button circular */
    background-color: blue; /* Set your desired background color */
    color: white; /* Set your desired text color */
    border: none;
    display: none;
}
#checkboxContainer {
    font-size: 18px;
    position: fixed;
    align-items: center; /* Center horizontally */
    bottom:0;
    left:50%;
    margin-bottom: 20px; /* Add margin to separate the checkbox from the button */
    transform: translate(-50%, -50%);
}
#fakeButton {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%; /* Makes the button circular */
    background-color: red; /* Set your desired background color */
    color: white; /* Set your desired text color */
    border: none;
    display: none;
}
#game {
    display: none;
}
#timer {
    font-size: 18px;
    color: black;
    text-align: center;
    position: sticky;
    top: 0; 
}
#gameplayAverage {
    font-size: 18px;
    color: black;
    text-align: center;
    position: sticky;
    top: 0; 
}

#colorText {
    font-size: 18px;
    color: black;
    text-align: center;
    position: sticky;
    top: 0; 
    z-index: 3;
}
#start {
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 100px; /* Makes the button circular */
    font-size: 100px;
    font-family:testfont;
    background-color: green; /* Set your desired background color */
    color: white; /* Set your desired text color */
    border: none;
}

#restart {
    position: fixed;
    font-family:testfont;
    padding: 10% 10% 10% 10%;
    left:50%;
    transform: translate(-50%, 0);
    border-radius: 100px; /* Makes the button circular */
    background-color: green; /* Set your desired background color */
    color: white; /* Set your desired text color */
    border: none;
}
#winScreen {
    background-color: #7CB4CF;
    position: fixed;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    z-index: 2; /* Ensure the container appears above other elements */
    display: none;
}