body {
    background-image: url('edited-watercolor-rainbow-background.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-color: #F3ECE5;
    font-family: testfont;
    margin:0;
}

@font-face {
    font-family: testfont;
    src: url("AmericanCaptain-MdEY.otf") format("opentype");
}

#randomButton {
    position: absolute;
    background-color: transparent; 
    z-index: 3;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    color: #F3ECE5; 
    border: none;
    display: none;
}

#animalpics {
    width: inherit;
    height: inherit;
}

#fakeButton {
    position: absolute;
    opacity: 0.8;
    background-color: transparent;
    z-index: 3;
    width: 220px;
    height: 220px;
    border-radius: 50%; 
    color: #F3ECE5; 
    border: none;
    display: none;
}

#game {
    display: none;
}

#timer {
    color: #438186;
    text-align: center;
    position: sticky;
}

#gameplayAverage {
    text-align: center;
    position: sticky;
}

#colorText {
    text-align: center;
    position: sticky;
    z-index: 3;
}

#winScreen {
    display: none;
    background-color: #438186;
    position: fixed;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    z-index: 2; 
}
